<!DOCTYPE HTML>

  <html>
    <head>

      <meta charset="utf-8">
      <title>Basic Online Blackjack</title>
      <link rel="stylesheet" href="application.css">
    </head>
    <body>
      <h1><img src=""/>Blackjack<img src=""></h1>
      <h3>How lucky are you feeling today?</h3>
    <div class="hand">
        <%= image_tag "cards/KH.png" %>
        <%= image_tag "cards/9C.png" %>

    </div>
    <div class="deck"
        <img class="back" src="http://pics.livejournal.com/dailyafirmation/pic/002xt0qd"/>
    </div>
      <span class="buttons">
        <button class="hit" onclick="hit()">Hit</button>
        <button class="stand" onclick="stand()">Stand</button>
      </span>
    </body>
  </html>
